DB_URL=jdbc:mysql://localhost:3306/wanderlust?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
DB_USERNAME=wanderlust
DB_PASSWORD=wanderlust

MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SMTP_AUTH=true
MAIL_SMTP_STARTTLS=true
MAIL_SMTP_CONNECTION_TIMEOUT=5000
MAIL_SMTP_TIMEOUT=5000
MAIL_SMTP_WRITE_TIMEOUT=5000

APP_NOTIFICATIONS_FROM_EMAIL=no-reply@wanderlust.local
APP_NOTIFICATIONS_ADMIN_EMAIL=admin@wanderlust.com
APP_NOTIFICATIONS_BRAND_NAME=Wanderlust Travels
APP_NOTIFICATIONS_SUPPORT_EMAIL=hello@wanderlust.com
APP_NOTIFICATIONS_BASE_URL=http://localhost:8080
APP_NOTIFICATIONS_AUTOMATION_CRON=0 0 8 * * *
APP_NOTIFICATIONS_PAYMENT_REMINDER_LEAD_DAYS=2

APP_PAYMENTS_CURRENCY=USD
APP_PAYMENTS_DEPOSIT_RATE=0.30
APP_PAYMENTS_FULL_PAYMENT_WINDOW_DAYS=45
APP_PAYMENTS_BALANCE_DUE_DAYS_BEFORE_DEPARTURE=21
